<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

   <!-- Define appenders -->
   <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d %-5p: %m%n"/>
      </layout>
   </appender>

   <appender name="RollingFileAppender" class="org.apache.log4j.rolling.RollingFileAppender">
      <rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
         <param name="FileNamePattern" value="logs/BodyTrackLoggingDeviceGateway_%d{yyyyMMdd}.log"/>
      </rollingPolicy>

      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d [%t] %-5p: %m%n"/>
      </layout>
   </appender>

   <!--
   <category name="edu.cmu.ri.createlab.serial.SerialDeviceCommandExecutionQueue">
      <priority value="debug"/>
   </category>

   <category name="edu.cmu.ri.createlab.serial.CreateLabSerialDeviceCommandStrategy">
      <priority value="debug"/>
   </category>
   -->

   <category name="org.apache.http">
      <level value="info"/>
   </category>

   <logger name="ConsoleLog" additivity="false">
      <level value="info"/>
      <appender-ref ref="ConsoleAppender"/>
   </logger>

   <root>
      <level value="debug"/>
      <appender-ref ref="RollingFileAppender"/>
   </root>

</log4j:configuration>